body {
    height: 100vh;
}

body,
.container,
.row {
    display: flex;
}

body, 
.container {
    flex-direction: column;
}

body {
    justify-content: space-around;
    align-items: center;
}

.container {
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
}

.originalDiv {
    background-color: black;
}

.hoverDiv {
    background-color: white;
}
